body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.ma{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 60px;
}
.helf-width{
    width: 50%;
    padding-left: 5%;

}
.helf-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;

}
.top-bannar{
    background-image:url(images/top-banner.png) ;
    background-repeat: no-repeat;
}
.dream-big{
background-image:url(images/dream-bg.png) ;
background-repeat: no-repeat;
background-position: right;
}
.orange-color{
    color: orange;
}
.Experiences-item{
    box-shadow: 10px 10px 40px darkgoldenrod;
    width:40%;
    margin-left: 5%;
    margin-left: 5%;
    padding-left: 10%;
    border-radius: 20px;
   
}
.Experiences-area{
background-image: url(images/exp-bg.png);
background-repeat:no-repeat;
background-position: left;
}
#Full-Stack{
 border-left: 7px solid tomato;
    }
#Baby-Web{
  border-left: 7px solid blue;
}
footer p{
    text-align: center;
}
